Hi <%= @user.first_name %>,

<p>Your new account details are as follows</p>
<strong>User ID:</strong> <%= @user.email_address %><br />
<strong>Password:</strong> <%= @user.password %>
<p> </p>
Thank you for registering your account.
