<h1>Editing contact</h1>

<% form_tag user_path(@user), :method=>:put do %>
<table>
   <%= render :partial => 'contact', :collection=>@all_contacts  %>
</table>

<p><%= submit_tag 'Save and Mail' %></p>
<%= will_paginate @all_contacts %>                                        
<% end %>



