<h1>Listing contactships</h1>

<table>
  <tr>
  </tr>

<% @contactships.each do |contactship| %>
  <tr>
    <td><%= link_to 'Show', contactship %></td>
    <td><%= link_to 'Edit', edit_contactship_path(contactship) %></td>
    <td><%= link_to 'Destroy', contactship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contactship', new_contactship_path %>